<div *ngIf="final_nodes">
    <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{node : final_nodes}"></ng-container> 

    <ng-template #template let-node="node">
        <div style="display: inline-block;" *ngFor="let user of node;"  [@myTrigger]="'fadeInFlash'">
            <div class="mainFlex">
                <app-box [user]="user"></app-box>
            </div>
            <div style="display: inline-block;" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{node : user.children}"></div>
        </div>
    </ng-template>
</div>
